
// variabili generali

$primary-color: rgb(73, 90, 104) ;
$secondary-color: rgb(220, 217, 212);

// variabile delle icone

$javascript:#e9d44d;
$php:#7377ad;
$laravel:#f72f25;
$bootstrap:#7808f7;
$vue:#3fb17f;
$html:#dd4b25;
$css:#016eb4;
$sass:#c76494;
$npm:#c53635;

